
<ion-header no-border no-shadow mode="md" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="modal.dismiss()">
        <ion-icon name="close" style="font-size: 1.8rem!important;"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-datetime
  #datetime
  size="cover"
  locale="en-ph"
  showDefaultTitle="true"
  [ngModel]="datePreferedStart | dateLocal">
  </ion-datetime>
  
</ion-content>

<ion-footer >
  <ion-toolbar mode="md">
    <ion-button [style.height.px]="45" mode="md" (click)="modal.dismiss(datetime.value)" expand="full" shape="round" color="primary">
      Done
    </ion-button>
  </ion-toolbar>
</ion-footer>

