<ion-header >
  <ion-toolbar>
    <div slot="start" style="    width: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;">
      <ion-icon color="primary" name="calendar" style="font-size: 1.8rem!important;"></ion-icon>
    </div>
    <ion-title >My Events</ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="openAddModal()">
        <ion-icon name="add" style="font-size: 1.8rem!important;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh()" class="refresher-custom">
    <ion-refresher-content >
    </ion-refresher-content>
  </ion-refresher>
  <div class="tools">
    <ion-button shape="round" (click)="openJoinedEvents()">
      <ion-icon slot="start" name="checkmark-circle"></ion-icon>
      Joined
    </ion-button>
    <ion-button shape="round" (click)="openInterestedEvents()">
      <ion-icon slot="start" name="heart"></ion-icon>
      Interested
    </ion-button>
  </div>
  
  <div class="vertical-list-wrapper ion-padding">
    <!-- <div class="vertical-list-header" *ngIf="!isLoading && events.length > 0">
      <h3 class="vertical-list-title"></h3>
    </div> -->
    <div class="vertical-list-content">
      <ng-container *ngIf="!isLoading; else loadingCards">
        <ng-container *ngIf="events.length > 0; else noEventsToShow">
          <ng-container *ngFor="let item of events">
            <vertical-cards [event]="item" (click)="openEvent(item.eventCode)" class="ion-activatable"></vertical-cards>
          </ng-container>
        </ng-container>

        <ng-template #noEventsToShow>
          <div style="background-color: #8469c726;display: flex;flex-direction: column;align-items: center;padding-bottom: 20px;border-radius: 10px; position: relative;text-align: center;" >
            <img style="width: 250px;height: max-content;" src="../../../assets/img/empty-placeholder-my-events.png" alt="">
            <div >
              <h3>Nothing here!</h3>
              <p>No Events found here.</p>
            </div>
          </div>
        </ng-template>
      </ng-container>

      <ng-template #loadingCards>
        <vertical-cards [isLoading]="true" class="ion-activatable"></vertical-cards>
      </ng-template>

      <ion-button fill="clear" *ngIf="!isLoading && eventsTotal > events.length" (click)="loadMore()">
        <ion-icon slot="start" name="chevron-down-outline"></ion-icon>
        Load more
      </ion-button>
    </div>
  </div>
</ion-content>
