ion-content {
    ::ng-deep {
        display: flex;
        flex-direction: column;
    }
    .event-list {
        ion-label {
            
          h1,h2,h3,h4,h5,h6  {
            margin: 0 !important;
            display: -webkit-box;
            max-width: 100%;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          .desc {
            opacity: 0.8!important;
            font-size: 20px;
            // color: var(--ion-color-tertiary)!important;
            white-space: break-spaces!important;
            -webkit-line-clamp: 2;
          }
          
          .sub-title {
              font-size: 16px;
              white-space: break-spaces!important;
              -webkit-line-clamp: 3;
          }
        }
    }
    [load-more] {
      width: 100%;
    }
}