ion-content {
    ::ng-deep {
        .details-header {
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            width: 100%;
            flex-direction: column;
            background-color: #fff!important;
            [date] {
                color: var(--ion-color-danger)!important
            }
        }
        .details-desc {
            display: flex;
            width: 100%;
            flex-direction: column;
            background-color: #fff !important;
            height: -webkit-fill-available;
            position: absolute;
        }
    }
}