ion-content {
  --background: var(--ion-color-primary); /* Adjust this color to match the blue background */

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    text-align: center;
    padding: 30px!important;
    
    background-image: url('../../../assets/img/landing-page.png'); /* Add your hexagon pattern image here */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    gap: 16px;
    .title {
      margin-top: 100px;
      align-self: start;
    }
    .banner {
      text-align: start;
      width: 80%;
      align-self: start;
      display: flex;
      flex-direction: column;
      height: 50%;
      justify-content: flex-end;
      * {
        float: left;
        text-shadow: 2px 2px 10px rgb(0 0 0 / 63%);
      }
    }
  
    ion-button {
      --border-radius: 25px;
      font-size: 16px;
      align-self: start;
    }
  }

  &.modal-content {
    --background-color: #fff!important;
    --background: #fff!important;
  }
}
