
ion-header {
  ::ng-deep {
    .location-picker {
      width: 100%;
      .location-picker-text {
        width: 92%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: unset;
        .location-name {
          font-size: 15px;
          font-weight: 900;
        }
      }
    }
  }
}
ion-avatar {
  min-width: 35px!important;
  max-width: 35px!important;
  min-height: 35px!important;
  max-height: 35px!important;
}
ion-content {
  --color: #fff;
  ::ng-deep {
    .feed-option {
      ion-button {
        --box-shadow:none;
      }
    }
    ion-tabs {
      ion-tab-bar {
        padding-left: 20px;
        padding-right: 20px;
        overflow: auto !important;
        justify-content: flex-start !important;
        gap: 20px;
        padding-top: 20px;
        scroll-behavior: smooth;
        ion-tab-button {
          --color-selected: var(--ion-color-secondary);
          position: relative;
          ion-label {
            font-size: 1.2rem;
          }
        }
        
        ion-tab-button.tab-selected {
          font-weight: bold;
        }
        
        ion-tab-button.tab-selected::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: var(--ion-color-secondary);;
        }
      }
    }
  }
}

::ng-deep {
  .search-result {
    ion-item {
      ion-avatar {
        width: 100px;
        height: 100px;
        box-sizing: border-box;
        --border-radius: 4px!important;
      }
      ion-label {
        display: flex;
        flex-direction: column;
        .date {
          font-family: 'Poppins-SemiBold'!important;
        }
        .title {
          font-family: 'Poppins-Bold'!important;
          width: 100%;
          display: flex;
        }
      }
    }
  }
  [load-more] {
    width: 100%;
  }
}
