::ng-deep {
    h1,h2,h3,h4,h5,h6 {
      margin: 0!important;
      white-space: break-spaces;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      fieldset {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        .form-control {
        }
      }
    }
  }
  