<ion-header *ngIf="!headerColor || headerColor === ''; else elseHeaderWithBorder" no-border no-shadow mode="md" class="ion-no-border">
  <ion-toolbar mode="md" [color]="headerColor">
    <ion-buttons slot="start">
      <ion-button (click)="close()" >
        <ion-icon name="arrow-back-sharp" style="font-size: 2em!important;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{title}}</ion-title>
    <div slot="end" style="width: 48px"></div>
  </ion-toolbar>
</ion-header>

<ng-template #elseHeaderWithBorder>
  <ion-header >
    <ion-toolbar mode="md" [color]="headerColor">
      <ion-buttons slot="start">
        <ion-button (click)="close()" >
          <ion-icon name="arrow-back-sharp" style="font-size: 2em!important;"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center">{{title}}</ion-title>
      <div slot="end" style="width: 48px"></div>
    </ion-toolbar>
  </ion-header>
</ng-template>

<ion-content class="">
  <div class="content">
    <form
      *ngIf="mode==='SUBMIT'"
      autocomplete="off"
      id="submitForm"
      class="form submit-form"
      [formGroup]="submitForm"
      (ngSubmit)="onSubmit()">
      <fieldset class="form-set" [disabled]="isSubmitting">
        <p class="title">Please Enter Your Email Address To Recieve a Verification Code</p>
        <div field>
          <ion-item fill="outline" mode="md" class="form-control-input">
            <ion-label position="stacked" >Email</ion-label>
            <ion-input
              type="email"
              autocomplete="off"
              autocorrect="off"
              placeholder="Enter Email"
              formControlName="email"
              required
              autofocus
            ></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="getError('email')">
            {{
              getError('email')['required'] ? 'Email can not be empty or blank' : ''
            }}
          </ion-text>
        </div>
        
        <ion-button shape="round" color="primary" type="submit" form="submitForm" [disabled]="isSubmitting || submitForm.invalid">
          Submit
        </ion-button>
        <ion-text style="width: 100%!important;" *ngIf="error && error !== ''" position="floating" color="danger">
          <h5>{{error}}</h5>
        </ion-text>
      </fieldset>
    </form>
    <div
      *ngIf="mode==='VERIFY'"
      autocomplete="off"
      id="verifyForm"
      class="form verify-form">
      <div class="form-set">
        <p class="title">Please Enter The 6 Digit Code sent to {{submitForm.value.email}}</p>
        <div field>
          <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:6}"></ng-otp-input>
        </div>
        <ion-button class="submit" shape="round" color="primary" (click)="onVerify()" [disabled]="isSubmitting">
          Verify
        </ion-button>
        <ion-text style="width: 100%!important;" *ngIf="error && error !== ''" position="floating" color="danger">
          <h5>{{error}}</h5>
        </ion-text>
      </div>
    </div>
    <form
      *ngIf="mode==='RESET'"
      autocomplete="off"
      id="resetForm"
      class="form reset-form"
      [formGroup]="resetForm"
      (ngSubmit)="onReset()">
      <fieldset [disabled]="isSubmitting" class="form-set">
        <p class="title">Please enter your Password</p>
        <div field>
          <ion-item fill="outline" mode="md" class="form-control-input">
            <ion-label position="stacked" >Password</ion-label>
            <ion-input
              type="password"
              autocomplete="off"
              autocorrect="off"
              placeholder="Enter Password"
              formControlName="password"
              required
              autofocus
              #password
            ></ion-input>
            <ion-icon *ngIf="resetForm?.value?.password && resetForm?.value?.password !== ''" name="eye" slot="end" (click)="password.type = password.type === 'text' ? 'password' : 'text'"></ion-icon>
          </ion-item>
          <ion-text color="danger" *ngIf="getError('password')">
            {{
              getError('password')['required'] ? 'Password can not be empty or blank' : ''
            }}
          </ion-text>
        </div>
        
        <div field>
          <ion-item fill="outline" mode="md" class="form-control-input">
            <ion-label position="stacked" >Confirm Password</ion-label>
            <ion-input
              type="password"
              autocomplete="off"
              autocorrect="off"
              placeholder="Confirm Password"
              formControlName="confirmPassword"
              required
              autofocus
              #confirmPassword
            ></ion-input>
            <ion-icon *ngIf="resetForm?.value?.confirmPassword && resetForm?.value?.confirmPassword !== ''" name="eye" slot="end" (click)="confirmPassword.type = confirmPassword.type === 'text' ? 'password' : 'text'"></ion-icon>
          </ion-item>
          <ion-text color="danger" *ngIf="getError('confirmPassword')">
            {{
              getError('confirmPassword')['required'] ? 'Confirm password can not be empty or blank' : '' ||
              getError('confirmPassword')['notSame'] ? 'Invalid confirm password' : ''
            }}
          </ion-text>
        </div>
        
        <ion-button shape="round" color="primary" type="submit" form="resetForm" [disabled]="isSubmitting">
          Reset Password
        </ion-button>
        <ion-text style="width: 100%!important;" *ngIf="error && error !== ''" position="floating" color="danger">
          <h5>{{error}}</h5>
        </ion-text>
      </fieldset>
    </form>
  </div>

  <ion-modal class="result-modal" [isOpen]="isOpenResultModal">
    <ng-template>
      <div class="success-modal-content">
        <ion-icon name="checkmark-circle-outline" *ngIf="resultModal?.type==='success'; else errorIcon" color="primary"></ion-icon>
        <ng-template #errorIcon>
          <ion-icon name="checkmark-circle-outline" color="danger"></ion-icon>
        </ng-template>
  
        <div class="title">
          <h1>{{resultModal?.title}}</h1>
        </div>
        <div class="desc">
          <h1>{{resultModal?.desc}}</h1>
        </div>
        <div class="action">
          <ion-button
            *ngIf="resultModal?.type==='success'; else errorAction"
            mode="md"
            expand="outline"
            shape="round"
            size="large"
            color="primary"
            (click)="resultModal.done()">
          Done
        </ion-button>
        <ng-template #errorAction>
          <ion-button
            mode="md"
            expand="outline"
            shape="round"
            size="large"
            color="danger"
            (click)="resultModal.retry()">
          Retry
        </ion-button>
        </ng-template>
  
      </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>